Repository RSLLES/pytorchblueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_header, exported_symbols

license_header:
  name: license_header
  entry: .pre-commit-scripts/license_header.sh
  language: script

exported_symbols:
  name: exported_symbols
  entry: python .pre-commit-scripts/exported_symbols.py
  language: system

update README
  README.md
Due: none

rename deploy.sh to rename_project.sh
  README.md
  deploy.sh
  rename_project.sh
  tests/format_float.py
Due: license_header

add source for pytorch
  pyproject.toml
Due: none

rename scripts/ dir
  rename_project.sh
Due: license_header

fix rename scripts
  rename_project.sh
Due: license_header

Add yaml files
  rename_project.sh
Due: license_header

[fix] bug with empty files
  .pre-commit-scripts/license_header.sh
Due: license_header

[fix] inconsistent order
  .pre-commit-scripts/exported_symbols.py
Due: license_header

[fix] typos
  .pre-commit-scripts/license_header.sh
Due: license_header

[fix] import SplitDataset
  src/blueprint/datasets/__init__.py
Due: license_header, exported_symbols

[fix] call to super() in SplitDataset
  src/blueprint/datasets/__init__.py
  src/blueprint/datasets/utils/__init__.py
  src/blueprint/datasets/utils/splitdataset.py
Due: license_header, exported_symbols

[fix] use RELU instead of SiLU (no additional benefits)
  src/blueprint/models/basics/unet_model.py
Due: license_header

[fix] typos
  src/blueprint/models/basics/unet_model.py
Due: license_header

[fix] typos
  src/blueprint/utils/maths.py
Due: license_header

[fix] typos
  src/blueprint/utils/logs.py
Due: license_header

[fix] sigfig does not convert nan to str
  src/blueprint/utils/strings.py
Due: license_header

[fix] remove silu by default
  src/blueprint/models/basics/unet_model.py
  src/blueprint/models/basics/unet_parts.py
Due: license_header

[fix] improve imports, file names and variable names
  scripts/eval.py
  scripts/train.py
  src/blueprint/engine/__init__.py
  src/blueprint/engine/epoch/__init__.py
  src/blueprint/engine/epoch/training_epoch.py
  src/blueprint/engine/epoch/validation_epoch.py
  src/blueprint/engine/training_runner.py
Due: license_header, exported_symbols

[fix] test script
  configs/flowmatching.yaml
  scripts/test.py
Due: license_header

[fix] reformat engine
  .vscode/settings.json
  scripts/quasi_random.py
  scripts/test.py
  scripts/train.py
  src/blueprint/engine/__init__.py
  src/blueprint/engine/epoch/__init__.py
  src/blueprint/engine/training.py
  src/blueprint/engine/training_one_epoch.py
  src/blueprint/engine/validation.py
Due: license_header, exported_symbols

[add] derive_new_seed_
  src/blueprint/trainers/flowmatchingtrainer.py
  src/blueprint/utils/random.py
Due: license_header

[add] supports /dev/null
  scripts/train.py
Due: license_header

[add] find_batch_size
  scripts/find_batch_size.py
  src/blueprint/utils/fabric.py
  src/blueprint/utils/oom.py
Due: license_header

[rm] default config name
  scripts/train.py
Due: license_header

[add] Extend dataset
  src/blueprint/datasets/utils/__init__.py
  src/blueprint/datasets/utils/extend_dataset.py
  src/blueprint/datasets/utils/split_dataset.py
  src/blueprint/datasets/utils/stack_dataset.py
Due: license_header, exported_symbols

[fix] uncertanty weighting with multiple gpus
  src/blueprint/losses/autoweights/uncert_weighting.py
Due: license_header

[add] import autoweights
  src/blueprint/losses/__init__.py
Due: license_header, exported_symbols

[fix] negative losses with uncert weighting
  src/blueprint/losses/autoweights/__init__.py
  src/blueprint/losses/autoweights/uncert_weighting.py
Due: license_header, exported_symbols

[fix] change temp log dir keyword to /tmp
  scripts/train.py
Due: license_header

[add] multitest and formatting with uncertainties
  scripts/multitest.py
  scripts/test.py
  src/blueprint/utils/strings.py
Due: license_header

[add] printoptions and detect_anomaly to initialize_torch
  src/blueprint/utils/torch.py
Due: license_header

[add] format size
  src/blueprint/utils/strings.py
Due: license_header

[add] get_memory_size
  src/blueprint/utils/torch.py
Due: license_header

[rename] strings to format
  scripts/multitest.py
  scripts/test.py
  src/blueprint/datasets/sample2Ddataset.py
  src/blueprint/datasets/utils/split_dataset.py
  src/blueprint/engine/training.py
  src/blueprint/engine/training_one_epoch.py
  src/blueprint/utils/__init__.py
  src/blueprint/utils/format.py
  src/blueprint/utils/torch.py
Due: license_header, exported_symbols

[add] profiler visualization tool
  src/blueprint/utils/profiler.py
Due: license_header

[add] timestamp to profiler output
  src/blueprint/utils/profiler.py
Due: license_header

[add] MMD loss
  src/blueprint/losses/__init__.py
Due: license_header, exported_symbols

[add] Leave-one-out REINFORCE loss function
  src/blueprint/losses/__init__.py
Due: license_header, exported_symbols

[fix] check for inf number when formatting
  src/blueprint/utils/format.py
Due: license_header

[add] leve-one-out reinforce
  src/blueprint/losses/loor.py
Due: license_header

Path conditions:
  license_header: any of: \.(py|sh|yaml|yml)
  exported_symbols: any of: ^src/.*/__init__\.py$
