Repository RSLLES/pytorchblueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: license_header, exported_symbols

license_header:
  name: license_header
  entry: .pre-commit-scripts/license_header.sh
  language: script

exported_symbols:
  name: exported_symbols
  entry: python .pre-commit-scripts/exported_symbols.py
  language: system

[add] maximum mean discrepancy
  src/blueprint/losses/mmd.py
Due: license_header

[improve] manage printing with sigfig
  scripts/quasi_random.py
Due: license_header

[add] enable_divergence_detection and enable_profiling flags
  configs/flowmatching.yaml
  configs/hydra_defaults.yaml
  scripts/train.py
  src/blueprint/engine/training.py
  src/blueprint/engine/training_one_epoch.py
Due: license_header

[add] detect_anomaly flag
  configs/hydra_defaults.yaml
  scripts/train.py
Due: license_header

[add] precision parameter
  configs/hydra_defaults.yaml
  scripts/train.py
  src/blueprint/utils/fabric.py
Due: license_header

[improve] runtime arguments moved to cfg.runtime
  .vscode/launch.json
  configs/dataset/gaussian.yaml
  configs/dataset/spiral.yaml
  configs/flowmatching.yaml
  configs/hydra_defaults.yaml
  configs/runtime/training.yaml
  configs/trainer/flowmatching.yaml
  scripts/train.py
  src/blueprint/utils/config.py
  src/blueprint/utils/dataloader.py
  src/blueprint/utils/oom.py
Due: license_header

[add] analyze study example
  scripts/analyze_study.py
Due: license_header

[add] link to fabric's guide about mixed-precision
  configs/hydra_defaults.yaml
Due: license_header

[add] multi-node training
  multinode.sh
  pyproject.toml
  src/blueprint/utils/fabric.py
Due: license_header

[fix] discard leftover batches when n_accum_steps>1
  src/blueprint/engine/training_one_epoch.py
Due: license_header

[add] re-write license_header hook in python
  .pre-commit-config.yaml
  .pre-commit-scripts/add_license_header.py
  .pre-commit-scripts/license_header.sh
  src/blueprint/__init__.py
  src/blueprint/datasets/__init__.py
  src/blueprint/datasets/utils/__init__.py
  src/blueprint/engine/__init__.py
  src/blueprint/losses/__init__.py
  src/blueprint/losses/autoweights/__init__.py
  src/blueprint/metrics/__init__.py
  src/blueprint/models/__init__.py
  src/blueprint/models/basics/__init__.py
  src/blueprint/trainers/__init__.py
  src/blueprint/utils/__init__.py
Due: license_header, exported_symbols

[fix] change license for CC-BY-NC
  LICENSE
Due: none

[add] reduction function
  src/blueprint/utils/torch.py
Due: license_header

[add] scorematching
  configs/model/scorenet.yaml
  configs/scorematching.yaml
  configs/trainer/scorematching.yaml
  pyproject.toml
  scripts/train.py
  src/blueprint/losses/__init__.py
  src/blueprint/losses/hyvarinen.py
  src/blueprint/models/scorenet.py
  src/blueprint/trainers/__init__.py
  src/blueprint/trainers/scorematching.py
Due: license_header, exported_symbols

[rename] reduction is now reduce
  src/blueprint/utils/torch.py
Due: license_header

[add] MMD
  src/blueprint/losses/mmd.py
Due: license_header

[add] wassertein distance
  src/blueprint/metrics/__init__.py
  src/blueprint/metrics/wassertein_distance.py
Due: license_header, exported_symbols

[fix] validation with wassertein
  src/blueprint/engine/validation.py
Due: license_header

[fix] bug with ckpt path
  scripts/train.py
Due: license_header

[refacto] move fourier embeddings
  src/blueprint/models/basics/__init__.py
  src/blueprint/models/basics/fourier_embeddings.py
  src/blueprint/models/scorenet.py
Due: license_header, exported_symbols

[change] increase ds_val size
  configs/flowmatching.yaml
  configs/scorematching.yaml
Due: license_header

[fix] weird warning fro pytorch
  src/blueprint/utils/torch.py
Due: license_header

[improve] mmd includes laplace and gaussian
  src/blueprint/losses/__init__.py
  src/blueprint/losses/mmd.py
Due: license_header, exported_symbols

[add] momentmatching
  configs/model/momentnet.yaml
  configs/momentmatching.yaml
  configs/trainer/momentmatching.yaml
  src/blueprint/models/__init__.py
  src/blueprint/models/momentnet.py
  src/blueprint/trainers/__init__.py
  src/blueprint/trainers/momentmatching.py
Due: license_header, exported_symbols

[add] set matmul precision to high
  src/blueprint/utils/torch.py
Due: license_header

[change] increase MMD batch size
  configs/momentmatching.yaml
  configs/trainer/momentmatching.yaml
  src/blueprint/losses/__init__.py
  src/blueprint/losses/mmd.py
  src/blueprint/trainers/momentmatching.py
Due: license_header, exported_symbols

[add] wassertein matching
  configs/trainer/wasserteinmatching.yaml
  configs/wasserteinmatching.yaml
  src/blueprint/losses/ot.py
  src/blueprint/trainers/__init__.py
  src/blueprint/trainers/wasserteinmatching.py
Due: license_header, exported_symbols

[add] mmd-fuse and new bandwidth selection strat
  configs/trainer/momentmatching.yaml
  src/blueprint/losses/__init__.py
  src/blueprint/losses/mmd.py
  src/blueprint/trainers/momentmatching.py
Due: license_header, exported_symbols

[fix] uncertainty weighting
  src/blueprint/losses/autoweights/uncert_weighting.py
Due: license_header

[fix] covweighting
  src/blueprint/losses/autoweights/cov_weighting.py
Due: license_header

[add] peacock weighting method
  src/blueprint/losses/autoweights/__init__.py
  src/blueprint/losses/autoweights/peacock.py
Due: license_header, exported_symbols

[fix] loading order in ckpt
  src/blueprint/utils/checkpoint.py
Due: license_header

[add] torch.dynamo.explain
  scripts/train.py
  src/blueprint/utils/fabric.py
  src/blueprint/utils/model.py
Due: license_header

[add] reduce func in hyvarinen_loss
  src/blueprint/losses/hyvarinen.py
Due: license_header

[add] world size to runtime
  scripts/train.py
Due: license_header

[add] improve weights loading
  scripts/test.py
  src/blueprint/utils/checkpoint.py
Due: license_header

[fix] small typos
  src/blueprint/models/momentnet.py
  src/blueprint/trainers/momentmatching.py
Due: license_header

[add] MMD Max, MMD Linear, Laplace Gaussian Kernel, EMA for quantiles
  .vscode/launch.json
  configs/trainer/momentmatching.yaml
  src/blueprint/losses/__init__.py
  src/blueprint/losses/mmd.py
  src/blueprint/trainers/momentmatching.py
Due: license_header, exported_symbols

[fix] resets dynamo when oom
  src/blueprint/utils/oom.py
Due: license_header

[add] online quantile estimation via reservoir sampling
  src/blueprint/metrics/__init__.py
  src/blueprint/metrics/quantile.py
Due: license_header, exported_symbols

Path conditions:
  license_header: any of: \.(py|sh|yaml|yml)
  exported_symbols: any of: ^src/.*/__init__\.py$
